{% extends 'products/base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-card">

        <h2>Login</h2>

        <p class="auth-subtitle">
            Login to manage your orders.
        </p>

        <form method="POST">
            {% csrf_token %}

            <label for="username">Username</label>
            <input
                type="text"
                id="username"
                name="username"
                required
            >

            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <p class="auth-link">
            Don't have an account?
            <a href="{% url 'register' %}">Register</a>
        </p>

    </div>

</div>

{% endblock %}